<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <!-- routerLink permet d'utiliser le rooting d'angular et donc de ne pas recharger la page à chaques changement d'url -->
        <a class="nav-link" routerLink="posts">Posts</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <!-- routerLink permet d'utiliser le rooting d'angular et donc de ne pas recharger la page à chaques changement d'url -->
        <a class="nav-link" routerLink="new-post">Nouveau post</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
